body {
  background: linear-gradient(to right, steelblue, gold);
  font-family: aldrich;
}

h1 {
  color: black;
  font-size: 20px
}

p {
  color: black;
}

nav {
  background-color: #1C3144;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  float: center;
  display: block;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  color: #c2d9dd;
  padding: 1%;
}

nav a:hover {
  background-color: #122433;
}

nav a.active {
  color: #e84e67;
  background-color: #091826;
}

