body {
  background: linear-gradient(to right, steelblue, gold);
  font-family: arial;
}

h1 {
  color: black;
  font-size: 20px
}

p {
  color: black;
}

nav {
  background-color: #F7BEC0;
  color: #333;
  font-family: arial;
  padding: 15px;
  position: fixed; 
  top: 0;
  left: 0%;
  width: 100%; 
}

nav ul {
  list-style: none;
  text-align: center; 
}

nav li {
  display: inline-block; 
  margin: 0 20px;
}
