body {
  background: linear-gradient(to right, steelblue, gold);
  font-family: arial;
}

h1 {
  color: black;
  font-size: 20px
}

p {
  color: black;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}
